@charset "ISO-8859-1";


.container-register {
	background-color: white;
	padding: 30px;
	width: 60%;
	margin: 0 auto;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.row {
	display: flex;
	margin-bottom: 10px;
}

.col {
	flex: 1;
	margin-right: 20px;
}

.col:last-child {
	margin-right: 0;
}

label {
	display: block;
	margin-bottom: 5px;
}

input,
select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

select {
	appearance: none;
}
#image{ width: 49%;}
button, .button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}
button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

.btn-cart-add{
	border-radius: 20px;
	border: 1px solid #4a7d94;
	background-color: #4a7d94;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
	padding: 10px;
	box-sizing: border-box;
}
.btn-register{
	border-radius: 20px;
	border: 1px solid #4a7d94;
	background-color: #4a7d94;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
	padding: 10px;
	box-sizing: border-box;
	width: 15%
}
